table {
	width: 80%;
	margin: 20px auto;
	background-color: gray;
	height: 60px;
}

td.active {
	background-color: black;
}

.winner {
	text-align: center;
	color: green;
	margin-top: 36px;
}

#restart {
width: 20%;
margin: 0 40%;
height: 38px;
border-radius: 9px;
background-color: green;
color: white;
}

.hidden {
	visibility: hidden;
}

.show {
	visibility: yes;
}